.theme-vioelet {
  background-color: var(--clr-primary-400);
  color: var(--clr-primary-100);

  img {
    border: 4px solid var(--clr-primary-300);
  }
}

.theme-graylish-blue {
  background-color: var(--clr-primary-600);
  color: var(--clr-primary-100);

  img {
    border: 4px solid var(--clr-primary-500);
  }
}

.theme-dark-graylish-blue {
  background-color: var(--clr-primary-900);
  color: var(--clr-primary-100);

  img {
    border: 4px solid var(--clr-primary-800);
  }
}

.theme-white {
  background-color: var(--clr-primary-100);
  color: var(--clr-primary-900);

  img {
    border: 4px solid var(--clr-neutral-400);
  }
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}

.fs-body {
  font-size: var(--fs-body);
}

.text-opacity-50 {
  opacity: .5;
}

.text-opacity-70 {
  opacity: .7;
}