:root {
  //Colors
  --clr-primary-100: hsl(0, 0%, 100%); // White
  --clr-primary-300: hsl(263, 55%, 60%); // Border
  --clr-primary-400: hsl(263, 55%, 50%); // Violet
  --clr-primary-500: hsl(217, 19%, 25%); // Violet
  --clr-primary-600: hsl(217, 19%, 35%); // Dark grayish blue
  --clr-primary-800: hsl(219, 29%, 4%); // very dark blackish blue
  --clr-primary-900: hsl(219, 29%, 14%); // very dark blackish blue

  --clr-neutral-400: hsl(0, 0%, 81%);  // Light Grey
  --clr-neutral-700: hsl(210, 46%, 95%);  // Light Grayish Blue
  
  //Font Family
  --ff-primary: 'Barlow Semi Condensed', sans-serif;;

  //Font Defines
  --ff-body: var(--ff-primary);

  //Font Weight
  --fw-regular: 500;
  --fw-semi-bold: 600;

  //Font Size
  --fs-400: 0.8125rem;
  --fs-600: 1rem;

  --fs-body: var(--fs-400);
}